__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
env/
ENV/

.env
db.sqlite3
media/
staticfiles/
*.log
.vscode/
.idea/


*/migrations/__pycache__/

.env.*

*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini

.coverage
htmlcov/
.pytest_cache/

node_modules/
dist/
build/


celerybeat-schedule
celerybeat.pid
